<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
    margin:5px
    padding:5px
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: SlateGray;
}

footer {
	background-color:black;
	color:white;
	text-align:center;
	padding:30px;
}

</style>
</head>


<body style="background-color:black">

<header>
<ul id="menu">
  <li><a href="guitarheros.herokuapp.com/">Home</a></li>
  <li><a href="http://www.bbking.com" target="_blank">B.B.KING</a></li>
  <li><a href="http://www.srvofficial.com" target="_blank">Stevie Ray Vaughan</a></li>
  <li><a href="http://www.van-halen.com" target="_blank">VAN HALEN</a></li>
  <li><a href="http://www.vai.com" target="_blank">STEVE VAI</a></li>
  <li><a href="guitarheros.herokuapp.com/about">About</a></li>
</ul>
</header>

<div class="w3-container w3-white">
<h2 style="text-align:center">About</h2>
<p class="w3-large" style="text-align:center">This sites is part of Ruby on Rails learning project - alpha blog. All the guitarists listed here have influenced my guitar playing and so much more. As my learning progresses, I will be updating more contents and features. Hope you will enjoy it. <br>Thank you!</p>
</div>
<img src="https://riffsofwisdom.files.wordpress.com/2012/03/stevie_ray_vaughan.jpg"width="100%" height="100%" style="border:none"

</body>
</html>
