<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<head>
<style>
header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
ul#menu {
    padding: 0;
}

ul#menu li {
    display: inline;
    margin:5px
    padding:5px
}

ul#menu li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: SlateGray;
}

footer {
	background-color:black;
	color:white;
	text-align:center;
	padding:30px;
}

</style>
</head>


<body style="background-color:black">

<header>
<ul id="menu">
  <li><a href="guitarheros.herokuapp.com/">Home</a></li>
  <li><a href="http://www.bbking.com" target="_blank">B.B.KING</a></li>
  <li><a href="http://www.srvofficial.com" target="_blank">Stevie Ray Vaughan</a></li>
  <li><a href="http://www.van-halen.com" target="_blank">VAN HALEN</a></li>
  <li><a href="http://www.vai.com" target="_blank">STEVE VAI</a></li>
  <li><a href="guitarheros.herokuapp.com/about">About</a></li>
</ul>
</header>



<img src="http://i.imgur.com/0mhr1ZI.jpg" alt="http://www.bbking.com" width="100%" height="100%" style="border:none">



<div class="w3-container w3-blue-grey">
<h2 style="text-align:center">"The beautiful thing about learning is nobody can take it away from you."</h2>
<p class="w3-large" style="text-align:center">--B.B.KING</p>
</div>

<div class="w3-row w3-border">
<div class="w3-third w3-container w3-black">
  <h2>Lucille (guitar)</h2>
  <img src="http://static3.nydailynews.com/polopoly_fs/1.2223566.1431706047!/img/httpImage/image.jpg_gen/derivatives/article_635/obit-bb-king.jpg" alt="http://www.bbking.com" width="100%" height="100%" style="border:none">
  <br>
  <br>
  <br>
  <p>In the winter of 1949, King played at a dance hall in Twist, Arkansas. The hall was heated by a barrel half-filled with burning kerosene, a fairly common practice at the time. During a performance...<a href="https://en.wikipedia.org/wiki/Lucille_(guitar)" target="_blank">read more</a></p>

</div>
<div class="w3-third w3-container w3-black">
  <h2>Biography</h2>
  <img src="http://leeandkinshow.com/wp-content/uploads/2015/05/BBkingStory-620x400.jpg" alt="http://www.bbking.com" width="100%" height="100%" style="border:none"><br>
  <br>
  <br>
  <br>



  <p>His reign as King of the Blues has been as long as that of any monarch on earth. Yet B.B. King continues to wear his crown well. At age 76, he is still light on his feet, singing and playing the blues...<a href="http://www.bbking.com/bio/" target="_blank">read more</a></p>

</div>
<div class="w3-third w3-container w3-black">
  <h2>The Thrill Is Gone</h2>
  <iframe width="100%" height="315" src="https://www.youtube.com/embed/4fk2prKnYnI" frameborder="0" allowfullscreen></iframe>
  <p>B.B. King recorded his version of "The Thrill Is Gone" in June 1969 for his album Completely Well, released the same year. King's version is a slow twelve-bar blues notated in the key of B minor in 4/4...<a href="https://en.wikipedia.org/wiki/The_Thrill_Is_Gone" target="_blank">read more</a></p>
</div>
</div>

<footer>
  <p><i>An Ongoing Ruby on Rails Learning Project</i></P>
</footer>
</body>
</html>
